body{
background-color: blue;
color: whitesmoke;
}

ul{
    list-style-type: none;
}

.class1{
    background-color: cornflowerblue;
}

#id1{
    background-color: darkgrey;
}

.mydiv{
    height: 200px;
    width: 200px;
    background-color: darkred;
    padding: 30px;
    margin: auto;
    border-radius: 30px;
    border: 5px solid yellow;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 5px 5px 5px turquoise;
}

.mydiv:hover{
box-shadow: 5px 5px 20px 20px orangered;
border: 5px solid white

}